{% with test=0 greeting="Hello" %}  
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        
            <ul>
                {% for platnosc in platnosci %}
                <!-- {{ forloop.counter0 }}  -->

                    <li>{{ forloop.counter0 }} {{ platnosc }} {{ platnosc.value }} {{ suma|add:platnosc.value }}</li>
                
                {% endfor %}
            </ul>

    </body>
</html>
{% endwith %}