{% load static %}
{% with test=0 greeting="Hello" %}  
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Posts</title>

        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>  
            {% if user.is_authenticated %}
                Witam {{ user.username }}
                <a href="{% url 'logout' %}">logout</a>
            {% else %}
                <a href="{% url 'login' %}">login</a> 
            {% endif %}

            <a href="{% url 'newPost' %}">Dodaj post</a>

            <ul>
                {% for post in posts %}
                <!-- {{ forloop.counter0 }}  -->

                    <li>{{ forloop.counter0 }} {{ post }} {{ post.content }}  {{ post.date }} 
                        <img src="/media/{{ post.thumbnail }}" alt="">
                        <a href="{% url 'editPost' post.id %}">Edytuj</a> <a href="{% url 'deletePost' post.id %}">Usun</a>
                    </li>
                
                {% endfor %}
            </ul>

    </body>
</html>
{% endwith %}