{% extends 'index.html' %}

{% block title %} 
    Wszystkie Treningi
{% endblock %}

{% block body %} 

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    {% if user.is_authenticated %}
                        Witam {{ user.username }}
                        <a href="{% url 'logout' %}">logout</a>
                    {% else %}
                        <a href="{% url 'login' %}">login</a> 
                    {% endif %}
                </div>
                <div class="col-xs-12 col-sm-6">
                    <a href="{% url 'nt' %}">Dodaj trening</a>
                </div>
            </div>

            <div class="row">

                {% for trening in treningi %}

                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-xs-12">
                                        <h5 class="card-title">{{ trening.title }} {{ trening.date }}</h5>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <p>{{ trening.description }}</p>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <ul>
                                            {% if trening.ex01 %} <li>{{ trening.ex01 }} </li> {% endif %}
                                            {% if trening.ex02 %} <li>{{ trening.ex02 }} </li> {% endif %}
                                            {% if trening.ex03 %} <li>{{ trening.ex03 }} </li> {% endif %}
                                            {% if trening.ex04 %} <li>{{ trening.ex04 }} </li> {% endif %}
                                            {% if trening.ex05 %} <li>{{ trening.ex05 }} </li> {% endif %}
                                            {% if trening.ex06 %} <li>{{ trening.ex06 }} </li> {% endif %}
                                            {% if trening.ex07 %} <li>{{ trening.ex07 }} </li> {% endif %}
                                            {% if trening.ex08 %} <li>{{ trening.ex08 }} </li> {% endif %}
                                            {% if trening.ex09 %} <li>{{ trening.ex09 }} </li> {% endif %}
                                            {% if trening.ex10 %} <li>{{ trening.ex10 }} </li> {% endif %}
                                        </ul>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <a href="{% url 'et' trening.id %}">Edytuj <i class="fas fa-edit"></i></a>     
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <a href="{% url 'dt' trening.id %}">Usun <i class="fas fa-trash-alt"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    
                {% endfor %}

            </div>
        </div>

{% endblock %}