{% extends 'index.html' %}

{% block title %} 
    Wszystkie posty
{% endblock %}

{% block body %} 

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    {% if user.is_authenticated %}
                        Witam {{ user.username }}
                        <a href="{% url 'logout' %}">logout</a>
                    {% else %}
                        <a href="{% url 'login' %}">login</a> 
                    {% endif %}
                </div>
                <div class="col-xs-12 col-sm-6">
                    <a href="">Dodaj post</a>
                </div>
            </div>

            <div class="row">

                {% for trening in treningi %}

                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-xs-12">
                                        <h5 class="card-title">{{ trening }}</h5>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <p>{{ trening.description }}</p>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <ul>
                                            <li>{{ trening.ex01 }} </li>
                                            <li>{{ trening.ex02 }} </li>
                                            <li>{{ trening.ex03 }} </li>
                                            <li>{{ trening.ex04 }} </li>
                                            <li>{{ trening.ex05 }} </li>
                                            <li>{{ trening.ex06 }} </li>
                                            <li>{{ trening.ex07 }} </li>
                                            <li>{{ trening.ex08 }} </li>
                                            <li>{{ trening.ex09 }} </li>
                                            <li>{{ trening.ex10 }} </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    
                {% endfor %}

            </div>
        </div>

{% endblock %}